h1{
    background-color: green;
    color:aqua;
    display: inline;
}
.e1{
    width:600px;
    margin:auto;
    border:3px solid green;
}
.e2{
    max-width: 600px;
    margin: auto;
    border: 3px solid green;
}
span{
    background-color: bisque;
}